@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');



:root {
  --index: calc(1vw + 1vh);
  --color: #00de4e;
  --light-color: #01a116;
  --second-color: #3d3d3d;
  --second--lightcolor: #ececec;
  --elements--color: #1a1a1a;
  --light-elements-color: #bdbdbd;
}
h1 {
  font-size: calc(var(--index) * 1.5);
}




*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
}
a {text-decoration: none; color: inherit;}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--color);
}

